{% extends "base.html" %}

{% block content %}
<h1>Записи в блоге</h1>
{% if news %}
    {% for item in news %}
    <div class="col-md6 border rounded">
        <h2>{{ item.title }}</h2>
        <div>
            {{ item.content }}
        </div>
        <div>
            Автор - {{ item.user_id }}, Дата написания - {{ item.created_date }}
        </div>
    </div>
    {% endfor %}
{% endif %}
    {% if current_user.is_authenticated %}
        <a href="tasks" class="btn btn-secondary">Добавить задачу</a>

    {% endif %}
{% endblock %}
